html, body {
 min-height: 100%;
}

body {
 background: url('../img/Background.png') no-repeat center;
 background-size: cover;
}

.search-style {
    padding: 20px 50px;
    position: relative;
}

.tracks-style{
    position: relative;
    width: 400px;
    display: block;
}

#tracks {
    font-size: 1.1em;
    list-style: decimal;
    color: white;    
}
#tracks li {
    padding: 0 10px;
    margin: 10px 50px;
    width: 400px;

}

#player {
    padding: 20px 50px;
    position: relative;
}
#query {
    width: calc(100% - 150px);
    padding: 8px 12px;
    font-size: 20px;
}
#search button {
    width: 130px;
    height: 45px;
    font-size: 25px;
    text-transform: uppercase;
}
#search {
    display: flex;
    justify-content: space-between;
}
.content {
    display: flex;
    justify-content: space-between;
}
.content > div {
    flex-basis: 50%;
}
.in-player {
    color: red;
}
.hidden {
    display: none;
}